.tariffBlocks {
    display: flex;
    justify-content: space-between;
}

.block {
    width: 415px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0px 30px;
    margin-bottom: 43px;
}

.priceinfo {
    padding-left: 30px;

}

.name {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

.title {
    margin: 10px 0px 34px 0px;
    font-size: 18px;
}

.image {
    width: 95px;
    position: relative;
    top: -20px;
    left: -15px;
}

.black {
    color: #fff;
}

.priceinfo {
    display: flex;
    align-items: center;
}

.price {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px; 
    margin-right: 19px;
}

.priceOld {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-decoration: line-through;
    color: rgb(144, 144, 144);
}

.credictInfo {
    margin-top: 10px;
    margin-bottom: 60px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.ttile2 {
    padding-left: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}