.tariffBlocks {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 118px;
}

.block {
    width: 415px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0px 30px;
    margin-bottom: 43px;
    position: relative;
}

.priceinfo {
    padding-left: 30px;

}

.name {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

.title {
    margin: 10px 0px 34px 0px;
    font-size: 18px;

}

.image {
    width: 95px;
    position: relative;
    top: -20px;
    left: -15px;
}

.black {
    color: #fff;
}

.priceinfo {
    display: flex;
    align-items: center;
}

.price {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px; 
    margin-right: 19px;
}

.priceOld {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-decoration: line-through;
    color: rgb(144, 144, 144);
}

.credictInfo {
    margin-top: 10px;
    margin-bottom: 60px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    min-height: 18px;
}

.ttile2 {
    padding-left: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.iconCheckmark {
    margin-right: 8px;
}

.list {
	margin: 0;
    padding-left: 30px; 
}

.list li {
    list-style-type: none;
}

.blockOption {
    margin-top: 10px;
    margin-bottom: 55px;
}

.blockButton {
    margin: 0 30px 24px 30px;
}

.blockButton button {
    width: 100%;
    font-size: 20px;
    padding: 18px 40px;
}

.buttonActive {
    background-color: #D2D2D2;
    border: 0px;
	color: #000;
	padding: 18px 40px;
	font-weight: 500;
}

.active {
    padding: 4px 13px;
    position: absolute;
    bottom: -42px;
    right: 10px;
    background: #3BA5E0;
    color: #fff;
    border-radius: 10px;
}