@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@font-face {
	font-family: 'Ferry'; 
	src: url(/src/fonts/ferry_black.otf); 
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.button {
	background: #5970FF;
	border: 0px;
	color: #fff;
	font-size: 22px;
	padding: 15px 60px;
	font-weight: 500;
}